$white: #fff;

$dark-sedans-font-color: #f8ca98;
$dark-suvs-font-color: #b5dde0;
$dark-luxury-font-color: #98bdbc;

$sedans-color: #ff8413;
$suvs-color: #008080;
$luxury-color: #025353;

$sedans-button-color: #ff8413;
$suvs-button-color: #008080;
$luxury-button-color: #025353;