@import "./reset";
@import "./colors";

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  width: 950px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

  .sedans,
  .suvs,
  .luxury {
    background-color: $sedans-color;

    &__img {
      padding: 4em 4.5em;
    }
    &__header {
      padding: 0 0.9em;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 4rem;
      text-transform: uppercase;
      color: $white;
    }
    &__info {
      padding: 2em 2.7em;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 160%;
      color: $dark-sedans-font-color;
    }

    &__button {
      padding: 1.1em 2.3em;
      
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
      border-radius: 40px;
      color: $sedans-button-color;
      transition: border 0.3s, background-color 0.3s, color 0.3s;
      cursor: pointer;

      &:hover {
        border: 2px solid $white;
        background-color: $sedans-button-color;
        color: $white;
      }
    }
  }

  .suvs {
    background-color: $suvs-color;

    &__info {
      color: $dark-suvs-font-color;
    }

    &__button {
      color: $suvs-button-color;
      transition: border 0.3s, background-color 0.3s, color 0.3s;

      &:hover {
        border: 2px solid $white;
        background-color: $suvs-color;
        color: $white;
      }
    }
  }

  .luxury {
    background-color: $luxury-color;

    &__info {
      color: $dark-luxury-font-color;
    }

    &__button {
      color: $luxury-button-color;
      transition: border 0.3s, background-color 0.3s, color 0.3s;
      &:hover {
        border: 2px solid $white;
        background-color: $luxury-button-color;
        color: $white;
      }
    }
  }
}

@media (min-width: 200px) {
  
  .card {
    flex-direction: column;
    height: 960px;
    width: 230px;
    overflow: hidden;
    border-radius: 6px;

    .sedans,
    .suvs,
    .luxury {
      height: 320px;

      &__img {
        padding: 0;
        margin: 2.8em 2.8em;
        width: 44px;
      }

      &__header {
        font-size: 2.5rem;
        margin-left: 0.1em;
      }

      &__info {
        font-size: 1.1rem;
      }
      &__button {
        margin: 1em 3.5em;

        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 425px) {
 
  .card {
    flex-direction: column;
    height: 1500px;
    width: 400px;

    .sedans,
    .suvs,
    .luxury {
      height: 500px;

      &__img {
        margin: 4.8em;
        width: 66px;
      }

      &__header {
        font-size: 4.5rem;
        margin-left: 0.2em;
      }

      &__info {
        font-size: 1.8rem;
        padding: 1.5em 3em;
      }
      &__button {
        margin: 1em 3em;

        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 530px) {
 
  .card {
    height: 1000px;
    width: 250px;

    .sedans,
    .suvs,
    .luxury {
      height: 335px;

      &__img {
        margin: 3em 3.5em;
        width: 48px;
      }

      &__header {
        font-size: 3rem;
        margin: 0 0.3em;
      }
      &__info {
        font-size: 1.2rem;
        padding: 1.5em 2.1em;
        margin-left: 1em;
      }
      &__button {
        font-size: 1rem;
        margin: 1em 4em;
      }
    }
  }
}
@media (min-width: 768px) {
  
  .card {
    height: 1350px;
    width: 300px;
    .sedans,
    .suvs,
    .luxury {
      height: 450px;

      .sedans,
      .suvs,
      .luxury {
        height: 500px;

        &__img {
          margin: 4em 4.4em;
          width: 60px;
        }

        &__header {
          font-size: 4.5rem;
          margin-left: 0.1em;
        }
        &__info {
          font-size: 1.4rem;
          padding: 1.5em 2.1em;
        }
        &__button {
          font-size: 1.5rem;
          margin: 2em 3em;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  
  .card {
    flex-direction: row;
    width: 1000px;
    height: 500px;

    .sedans,
    .suvs,
    .luxury {
      height: 500px;

      &__img {
        margin: 4em;
        width: 66px;
      }
      &__header {
        font-size: 4.5rem;
        margin: 0;
      }
      &__info {
        font-size: 1.8rem;
         margin: 0 4em 3em 1em;
         
        
      }
      &__button {
        font-size: 2rem;
      }
    }
  }
}

